body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    margin: 30px 150px;
}

header {
    display: flex;
    align-items: center;
}

.nav-container {
    margin-left: auto;
    display: block;
}

.nav-container > nav {
    display: flex;
    gap: 30px;
}

nav > a {
    text-decoration: none;
    text-align: center;
    color: hsl(273, 4%, 51%);
    padding: 10px 0;
}

.view-plans-link {
    border: 1px solid hsl(256, 26%, 20%);
    box-sizing: border-box;
    padding: 10px 15px;
}

nav > a:hover {
    color: hsl(256, 26%, 20%);
}

.view-plans-link:hover {
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
}

.mobile-menu-button {
    display: none;
}


@media screen and (max-width: 800px) {
    .icon-logo-picture {
        margin-right: auto;
    }

    .mobile-menu-button {
        display: inline;
        height: 32px;
        width: 32px;
        cursor: pointer;
    }

    .mobile-menu-button.open {
        background-image: url(../images/icon-hamburger.svg);
    }

    .mobile-menu-button.close {
        background-image: url(../images/icon-close.svg);
    }

    .logo-container {
        display: flex;
        align-items: center;
        width: 100%;
    }

    header {
        flex-direction: column;
    }

    .nav-container > nav {
        flex-direction: column;
        margin: 30px 25px;
    }

    .nav-container {
        background-image: url(../images/bg-pattern-mobile-nav.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        background-color: hsl(256, 26%, 20%);
        height: 100vh;
        width: 100vw;
        margin-top: 20px;
    }

    .nav-container > nav > a {
        color: hsl(0, 0%, 98%);
    }

    body {
        margin: 20px 25px;
    }

    .view-plans-link {
        border: 1px solid hsl(0, 0%, 98%);
        box-sizing: border-box;
        padding: 10px 15px;
    }

    .view-plans-link:hover {
        background-color: unset;
    }

    .nav-container > nav > a:hover {
        color: hsl(0, 0%, 98%);
    }

    .view-plans-link {
        padding: 20px 0;
    }

    .nav-container {
        margin-left: 0;
        display: none;
    }

    .nav-container.enable {
        display: block;
    }

    .nav-container.disable {
        display: none;
    }
}