body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    margin: 30px 150px;
}

header {
    display: flex;
    align-items: center;
}

.nav-container {
    margin-left: auto;
    display: block;
}

.nav-container > nav {
    display: flex;
    gap: 30px;
}

nav > a {
    text-decoration: none;
    text-align: center;
    color: hsl(273, 4%, 51%);
    padding: 10px 0;
}

.view-plans-link {
    border: 1px solid hsl(256, 26%, 20%);
    box-sizing: border-box;
    padding: 10px 15px;
    text-decoration: none;
}

.view-plans-link:hover {
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
}

nav > a:hover {
    color: hsl(256, 26%, 20%);
}

.mobile-menu-button {
    display: none;
}

.image-intro {
    background-image: url("../images/image-intro-desktop.jpg");
    height: 650px;
    width: 540px;
    float: right;
}

.business-vision-container {
    background-color: hsl(256, 26%, 20%);
    margin-left: calc(50% - 50vw);
    width: 100vw;
}

.separator {
    border-top: 1px solid hsl(273, 4%, 51%);
    width: 140px;
}

.image-intro {
    margin-left: 20px;
}

section.business-vision {
    margin: 25px 150px;
    padding: 90px 0;
}

img.bg-pattern-intro-right-desktop-image {
    position: absolute;
    right: 0;
}

.business-vision-details > .heading1 {
    margin-top: 40px;
}

.business-vision-details {
    color: hsl(0, 0%, 98%);
}

.business-vision-description {
    margin: 20px 0 35px 0;
    line-height: 25px;
}

.heading1 {
    font-size: 60px;
    font-family: 'DM Serif Display', serif;
}

.heading2 {
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
}

.heading3 {
    font-size: 30px;
    font-family: 'DM Serif Display', serif;
}

.business-vision-details > a.view-plans-link {
    display: inline-block;
    border: 1px solid hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
}

.business-vision-details > a.view-plans-link:hover {
    color: hsl(256, 26%, 20%);
    background-color: hsl(0, 0%, 98%);
}

img.bg-pattern-intro-left-desktop-image {
    position: absolute;
    top: 439px;
}

.bg-pattern-intro-left-mobile-image, .bg-pattern-intro-right-mobile-image {
    display: none;
}

.business-promise .heading1 {
    color: hsl(256, 26%, 20%);
    margin: 60px 0 90px 0;
}

.business-promise-details {
    display: flex;
    gap: 50px;
}

.business-promise-details > .business-promise-detail {
    flex: 1;
}

.business-promise-overview {
    line-height: 25px;
    color: hsl(273, 4%, 51%);
}

.business-promise-description .heading3 {
    margin: 25px 0;
    color: hsl(256, 26%, 20%);
}

section.business-promise {
    margin-top: 350px;
}

section.find-more-details {
    display: flex;
    align-items: center;
    background-color: hsl(256, 26%, 20%);
    padding: 40px 65px;
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    margin: 135px 0;
}

section.find-more-details > .heading2, section.find-more-details > .view-plans-link {
    color: hsl(0, 0%, 98%);
}

section.find-more-details > .view-plans-link {
    border: 1px solid hsl(0, 0%, 98%);
    margin-left: auto;
}

section.find-more-details > a.view-plans-link:hover {
    color: hsl(256, 26%, 20%);
    background-color: hsl(0, 0%, 98%);
}

@media screen and (max-width: 450px) {
    .image-intro {
        background-image: url("../images/image-intro-mobile.jpg");
    }
}

@media screen and (max-width: 1200px) {
    .icon-logo-picture {
        margin-right: auto;
    }

    .mobile-menu-button {
        display: inline;
        height: 32px;
        width: 32px;
        cursor: pointer;
    }

    .mobile-menu-button.open {
        background-image: url(../images/icon-hamburger.svg);
    }

    .mobile-menu-button.close {
        background-image: url(../images/icon-close.svg);
    }

    .logo-container {
        display: flex;
        align-items: center;
        width: 100%;
    }

    header {
        flex-direction: column;
    }

    .nav-container > nav {
        flex-direction: column;
        margin: 30px 25px;
    }

    .nav-container {
        background-image: url(../images/bg-pattern-mobile-nav.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        background-color: hsl(256, 26%, 20%);
        height: 100vh;
        width: 100vw;
    }

    .nav-container > nav > a {
        color: hsl(0, 0%, 98%);
    }

    body {
        margin: 20px 25px;
    }

    .view-plans-link {
        border: 1px solid hsl(0, 0%, 98%);
        box-sizing: border-box;
        padding: 10px 15px;
    }

    .view-plans-link:hover {
        background-color: unset;
    }

    .nav-container > nav > a:hover {
        color: hsl(0, 0%, 98%);
    }

    .nav-container {
        margin-left: 0;
        display: none;
    }

    .nav-container.enable {
        display: block;
    }

    .nav-container.disable {
        display: none;
    }

    .image-intro {
        width: 100vw;
        height: 100vh;
        margin-left: calc(50% - 50vw);
        float: none;
        background-size: cover;
    }

    section.business-vision {
        margin: 0 25px;
        padding: 0 0;
    }

    .business-vision-details {
        text-align: center;
    }

    .bg-pattern-intro-right-desktop-image {
        display: none;
    }

    .spacer {
        margin: 10px;
    }

    .business-vision-details > .heading1 {
        margin-top: 80px;
    }

    .business-vision-details {
        padding-bottom: 80px;
    }

    img.bg-pattern-intro-left-desktop-image {
        display: none;
    }

    .bg-pattern-intro-left-mobile-image {
        display: inline;
        position: absolute;
        left: 0;
    }

    .bg-pattern-intro-right-mobile-image {
        display: inline;
        position: absolute;
        right: 0;
    }
}